<template>

  <article class="card">
    <div class="container">
      <header>
        <div class="row">
          <h1 class="title">Nombre del negocio</h1>
          <img class="icon icon-delivery" src="img/delivery.png" alt="icono de si esta disponible la entrega" />
        </div>
      </header>
      <div class="content">
        <div class="row">
          <img class="icon" src="img/map.png" alt="icono de ubicación en mapa" />
          <span>Dirección: Calle # Colonia</span>
        </div>
        <div class="row">
          <img class="icon" src="img/phone.png" alt="icono de telefono de atención" />
          <span><a class="link" href="tel:2281234567">Tel: 2281234567</a></span>
          <img class="icon icon-email" src="img/link.png" alt="icono de sitio web o algun link de atención" />
          <span><a class="link" href="https://sitionegocio.com">sitionegocio.com</a></span>
        </div>
        <div class="row">
          <span class="tag">etiqueta</span><span class="tag">etiqueta</span><span class="tag">etiqueta</span>
        </div>
      </div>
      <footer>
        <div class="row">
          <img class="icon" src="img/clock.png" alt="icono de horario de apertura de negocio" />
          <span class="time">Apertura: 08:00</span><span class="time">Cierre: 16:00</span>
          <img class="icon icon-menu" src="img/menu.png" alt="icono de menu para mostrar opciones" />
        </div>
      </footer>
    </div>
  </article>
</template>

<script>
export default {
  name: 'CardComponent'
}
</script>

<style lang="scss" scoped>
  html {
    box-sizing: border-box;
  }

  *,
  *:before,
  *:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
  }

  :root {
    --darkest: #121212;
    --dark: #454545;
    --azure: #007fff;
    --dark-grey: #232323;
    --grey: #eee;
    --white: #fffafa;
    --whitest: #fff;
    --white-smoke: #f5f5f5;
  }

  body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    line-height: 1.8;
    color: var(--dark);
  }

  .container {
    padding: 1rem;
  }

  .card {
    position: relative;
    background-color: var(--whitest);
    border-radius: 4px;
    border: 0.2rem solid var(--grey);
    max-width: 480px;
    box-shadow: 0 0.25rem 0.25rem var(--grey);
    transition: all 0.5s;
    margin-bottom: 1rem;
  }

  .card:hover {
    border: 0.2rem solid var(--darkest);
  }

  .card .container {
    padding: 0.5rem 1rem;
  }

  .card a {
    color: var(--darkest);
    text-decoration: none;
  }

  .card a:hover {
    text-decoration: underline;
  }

  .card .row {
    position: relative;
    margin: 0.15rem 0;
    padding: 0.15rem 0;
  }

  .card .icon {
    height: 16px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 0.15rem;
  }

  .card .icon-delivery {
    position: absolute;
    top: 1rem;
    right: 1rem;
    height: 24px;
  }

  .card .icon-email {
    margin-left: 0.5rem;
  }

  .card header > div{
    display: flex;
    justify-content: space-between;
  }

  .card .title {
    letter-spacing: 0.1px;
    font-size: 1.5rem;
  }

  .card .content {
    margin-bottom: 0.75rem;
  }

  .card .row > span {
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
  }

  .card .tag {
    margin-right: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 0.1rem;
    background-color: var(--white-smoke);
    display: inline-block;
    font-size: 0.9rem;
    color: var(--darkest);
    font-weight: bolder;
  }

  .card .tag:before{
    content: "\0023";
  }

  .card .link {
    font-size: 0.9rem;
  }

  .card footer {
    border-top: 0.05rem solid var(--dark);
  }

  .card .icon-menu {
    position: absolute;
    bottom: 0.35rem;
    right: 1rem;
    height: 20px;
  }
  .card .time {
    margin: 0 0.25rem;
    font-size: 0.9rem;
    color: var(--dark-grey);
  }
</style>
