<template>

  <article class="card-large">
    <div class="row">
      <p><img src="img/shop.png" alt=""><strong>Nombre del negocio:</strong></p>
      <p><span>Lalos Tacs</span></p>
    </div>
    <div class="row">
      <p><img src="img/map.png" alt=""><strong>Dirección:</strong></p>
      <p><span>Calle Acueducto esquina Ruiz Cortines</span></p>
    </div>
    <div class="row">
      <p><img src="img/location.png" alt=""><strong>Ubicación geografica:</strong></p>
      <p><span>19.5540, -96.9336</span></p>
    </div>
    <div class="row">
      <p><img src="img/phone.png" alt=""><strong>Número de telefono:</strong></p>
      <p><a href="tel:2281234567">2281234567</a></p>
    </div>
    <div class="row">
      <p><img src="img/email.png" alt=""><strong>Correo electronico:</strong></p>
      <p><a href="mailto:lalotacs@gmail.com">lalostacs@gmail.com</a></p>
    </div>
    <div class="row">
      <img src="img/clock.png" alt="">
      <p><strong>Hora de apertura:</strong></p>
      <p><span>09:00</span></p>
      <p><strong>Hora de cierre:</strong></p>
      <p><span>20:00</span></p>
    </div>
    <div class="row">
      <p><img src="img/user.png" alt=""><strong>Nombre de contacto:</strong></p>
      <p><span>Juan Perez</span></p>
    </div>
    <div class="row">
      <p><img src="img/tag.png" alt=""><strong>Etiquetas:</strong></p>
      <p>
        <span class="tag">Taqueria</span>
        <span class="tag">Comida</span>
      </p>
    </div>
    <div class="row">
      <p><img src="img/delivery.png" alt=""><strong>¿Entrega a domicilio?:</strong></p>
      <p><span>Sí</span></p>
    </div>
    <div class="row">
      <p><img src="img/info.png" alt=""><strong>Detalles:</strong></p>
      <p><span>Para mejor atención primero llamennos por telefono</span></p>
    </div>
  </article>
</template>

<script>
export default {
  name: 'ModalComponent'
}
</script>

<style lang="scss" scoped>
  html {
    box-sizing: border-box;
  }

  *,
  *:before,
  *:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
  }

  :root {
    --darkest: #121212;
    --dark: #454545;
    --azure: #007fff;
    --dark-grey: #232323;
    --grey: #eee;
    --white: #fffafa;
    --whitest: #fff;
    --white-smoke: #f5f5f5;
  }

  body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    line-height: 1.8;
    color: var(--dark);
  }

  .container {
    padding: 1rem;
  }

  .card-large {
    padding: 1rem 2rem;
    position: relative;
    background-color: var(--whitest);
    border-radius: 2px;
    border: 0.2rem solid var(--grey);
    box-shadow: 0 0.5rem 0.5rem var(--grey);
    transition: all 0.5s;
  }
  .card-large .title {
    font-size: 1.6rem;
    text-align: center;
  }

  .card-large .row {
    padding: 0.5rem 0;
    margin: 0.5rem 0;
    display: flex;
    align-items: center;
    border-bottom: 0.15rem solid var(--grey);
  }

  .card-large strong {
    margin-right: 0.75rem;
  }

  .card-large img {
    height: 16px;
    margin-right: 0.75rem;
  }

  .card-large p {
    font-size: 1.2rem;
  }

  .card-large a,
  .card-large span {
    color: var(--azure);
    letter-spacing: 0.01rem;
    margin-right: 0.75rem;
  }

  .card-large .tag{
    background-color: var(--grey);
    padding: 0.25rem 0.75rem;
    border-radius: 0.75rem;
    font-size: 0.9rem;
  }

  .card-large .tag:before {
    content: "\0023";
  }
</style>
