<template>
  <div class="form-container">
    <h1 class="title">Registro un negocio</h1>
    <p>Por favor llene el siguiente formulario para que aparezca en nuestro mapa de negocios locales</p>
    <form class="form">
      <fieldset class="fieldset">
        <label for="name" class="label">Nombre del negocio</label>
        <input class="input" name="name" type="text">
      </fieldset>
      <fieldset class="fieldset">
        <legend>Calle, numero, colonia y código postal</legend>
        <label for="location" class="label">Dirección</label>
        <input class="input" name="location" type="text">
      </fieldset>
      <fieldset class="fieldset">
        <legend>Puede poner telefono fijo o celular</legend>
        <label for="phone_number" class="label">Número de telefono</label>
        <input class="input" name="phone_number" type="text">
      </fieldset>
      <fieldset class="fieldset">
        <legend>Si lo pone los usuarios podran contactar por correo electronico</legend>
        <label for="email" class="label">Correo electronico (opcional)</label>
        <input class="input" name="email" type="email">
      </fieldset>
      <fieldset class="fieldset">
        <legend>Puedes poner página de cualquier red social</legend>
        <label for="url" class="label">Sitio web o página de facebook (opcional)</label>
        <input class="input" name="url" type="url">
      </fieldset>
      <fieldset class="fieldset time">
        <legend>El formato de horario es de 24 horas</legend>
        <label for="opening_hour" class="label">Hora de apertura</label>
        <input class="input" name="opening_hour" type="time">
        <label for="closing_hour" class="label">Hora de cierre</label>
        <input class="input" name="closing_hour" type="time">
      </fieldset>
      <fieldset class="fieldset">
        <legend>Persona responsable del negocio</legend>
        <label for="contact_name" class="label">Nombre de contacto</label>
        <input class="input" name="contact_name" type="text">
      </fieldset>
      <fieldset class="fieldset">
        <legend>Seleccione las categorias que mejor concuerdan</legend>
        <label for="label" class="label">Etiquetas</label>
        <select class="select" name="label" id="label" multiple>
          <option value="carniceria">Carniceria</option>
          <option value="polleria">Polleria</option>
          <option value="verduleria">Verduleria</option>
          <option value="farmacia">Farmacia</option>
          <option value="restaurante">Restaurante</option>
          <option value="abarrotes">Abarrotes</option>
          <option value="limpieza">Limpieza</option>
        </select>
      </fieldset>
      <fieldset class="fieldset checkbox">
        <legend>Marque este campo si puede hacer entregas a domicilio</legend>
        <label for="home_delivery" class="label">¿Entrega a domicilio?</label>
        <input class="input" name="home_delivery" type="checkbox">
      </fieldset>
      <fieldset class="fieldset">
        <legend>Mensaje adicional que quiera mandar</legend>
        <label for="message" class="label">Escribannos mas detalles</label>
        <textarea name="message" class="textarea" id="message" rows="7" cols="33"></textarea>
      </fieldset>
      <fieldset class="fieldset">
        <input class="input" type="submit" name="submit" value="Registrar">
      </fieldset>
    </form>
  </div>
</template>

<script>
export default {
  name: 'RegisterComponent'
}
</script>

<style lang="scss" scoped>
  html {
    box-sizing: border-box;
  }

  *,
  *:before,
  *:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
  }

  :root {
    --darkest: #121212;
    --dark: #454545;
    --azure: #007fff;
    --dark-grey: #232323;
    --grey: #eee;
    --white: #fffafa;
    --whitest: #fff;
    --white-smoke: #f5f5f5;
  }

  body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    line-height: 1.8;
    color: var(--dark);
  }

  .container {
    padding: 1rem;
  }

  .form-container {
    width: 35%;
    margin: 0 auto;
  }

  .form-container .title {
    font-size: 1.6rem;
    text-align: center;
  }

  .form-container p {
    font-size: 1rem;
  }
  .form .fieldset {
    border: none;
    margin: 1rem 0;
  }

  .form  .label {
    display: block;
    font-size: 1.1rem;
    color: var(--dark);
  }

  .form .input,
  .form .select,
  .form .textarea{
    padding: 0.5rem;
    width: 100%;
    font-size: 1.1rem;
  }

  .form .time {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .form legend {
    font-size: 0.9rem;
  }

  .form .time .input {
    width: 100px;
  }

  .form .checkbox {
    display: flex;
    margin: 2rem 0;
  }

  .form .checkbox .label {
    margin-right: 0.75rem;
  }

  .form .checkbox .input {
    width: unset;
  }

  .form input[type="submit"] {
    background-color: var(--darkest);
    color: var(--white);
    text-align: center;
    width: 50%;
    border-radius: 2px;
    display: block;
    margin: 1rem auto;
    cursor: pointer;
  }
</style>
